h1,h2,h3,h4,h5,h6, .event-heading, .event-heading-small {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}

.search-bar {
	background-color: rgba(50, 50, 50, 0.1);
	color: #fff;
	transition: all 0.1s ease-in-out;
}

.search-bar:focus {
	background-color: rgba(200, 200, 200, 0.2);
	color: #fff;
}

.dropdown-links:hover {
	background-color: rgba(50,50,50,1);
}

.search-button {
	background-color: rgba(80, 80, 80, 0.3);
	transition: all 0.3s ease-in-out;
	color: #fff;
}

/*FOR THE HOME PAGE*/

@media (min-width: 1354px) {
	.search-bar-size {
		width: 700px;
	}
}

@media (min-width: 1182px) and (max-width: 1354px) {
	.search-bar-size {
		width: 500px;
	}
}

@media (min-width: 1070px) and (max-width: 1182px) {
	.search-bar-size {
		width: 400px;
	}
}

@media (min-width: 766px) and (max-width: 900px) {
	.search-bar-size {
		width: 200px;
		margin-left: -150px;
	}
}

@media (min-width: 900px) and (max-width: 980px) {
	.search-bar-size {
		width: 200px;
	}
}

@media (min-width: 980px) and (max-width: 1070px) {
	.search-bar-size {
		width: 300px;
	}
}

/*FOR THE VIDEO PAGE*/

@media (min-width: 1255px) {
	.search-bar-size-videopage {
		width: 800px;
	}
}

@media (min-width: 1120px) and (max-width: 1255px) {
	.search-bar-size-videopage {
		width: 700px;
	}
}

@media (min-width: 1070px) and (max-width: 1120px) {
	.search-bar-size-videopage {
		width: 600px;
	}
}

@media (min-width: 766px) and (max-width: 900px) {
	.search-bar-size-videopage {
		width: 400px;
		margin-left: -100px;
	}
}

@media (min-width: 900px) and (max-width: 1070px) {
	.search-bar-size-videopage {
		width: 400px;
	}
}

.dropdown-menu {
	background-color: #fff;
	color: #fff;
}

.navbar-custom {
	background-color:#222;
	border-color:transparent
}

.navbar-custom .nav-right-text {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-family: "Satisfy", "Helvetica Neue", Helvetica, Arial, cursive;
  transition: all 0.15s ease-in-out;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a {
	transition: all 0.15s ease-in-out;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover {
	color:#fff;
	outline:0;
	background-color: #444;
}

@media (min-width:768px)
{
	.navbar-custom {
	    background-color:#222222;
	    padding: 6px 0;
	    -webkit-transition: padding 0.3s;
	    -moz-transition: padding 0.3s;
	    transition: padding 0.3s;
	    border: none;
	}
	.navbar-custom .navbar-nav > .active > a {
	    border-radius: 3px;
	}
}

.nav-img-size {
  	width: 30%;
  	height: 30%;
  	padding-top: 1px;
}

@media screen and (max-width: 900px) {
  	.nav-text {
  		visibility: visible;
  	}

  	.nav-img, .nav-img-size {
  		visibility: hidden;
  	}
}

@media (min-width: 900px)
{
	.nav-text {
		visibility: hidden;
	}

	.nav-img, .nav-img-size {
		visibility: visible;
	}
}

.special-container {
	width: 87%;
}

#WatchEvent {
	margin-top: -20px;
	padding-top: 70px;
	background-color: #eee;
}

.event-heading {
	font-size: 40px;
	padding-top: 10px;
}

.event-heading-small {
	font-size: 20px;
	padding-top: 10px;
}

.event-who {
	font-size: 23px;
}

.event-who-small {
	font-size: 16px;
}

.event-day {
	font-size: 16px;
}

.event-day-small {
	font-size: 12px;
}

.event-time {
	font-size: 16px;
	padding-bottom: 40px;
}

.event-time-small {
	font-size: 12px;
}

.above-text {
	font-size: 20px;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	padding-bottom: 10px;
}

#prevevent {
	background-color:#d3d1d1;
}

#prevevent .prevevent-item .prevevent-caption p,section h3.section-subheading {
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style:italic
}



section h2.section-heading {
	font-size:40px;
	margin-top: 45px;
	margin-bottom:42px;
}

#prevevent .prevevent-item{
	margin:0 0 15px;
	right:0
}

#prevevent .prevevent-item .prevevent-link{
	display:block;
	position:relative;
	max-width:400px;
	margin:0 auto
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover{
	background:#727272;
	position:absolute;width:100%;
	height:100%;
	opacity:0;
	transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover:hover{
	opacity:0.9
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content{
	position:absolute;width:100%;
	height:20px;
	font-size:20px;
	text-align:center;
	top:50%;
	margin-top:-12px;
	color:#fff
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content i{
	margin-top:-12px
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content h3,#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content h4{
	margin:0
}

#prevevent .prevevent-item .prevevent-caption{
	max-width:400px;
	margin:0 auto;
	background-color:#fff;
	text-align:center;
	padding:25px
}

#prevevent .prevevent-item .prevevent-caption h4{
	text-transform:none;
	margin:0
}

#prevevent .prevevent-item .prevevent-caption p{
	font-size:16px;
	margin:0
}

#prevevent *{z-index:2}

@media (min-width:767px)
{
	#prevevent .prevevent-item{
		margin:0 0 30px
	}
}

.bottom-space {
	padding-bottom: 30px;
}

footer{
	padding:20px 0;
	text-align:center;
	background-color: #aaaaaa;
}

.footer-text{
	display: block;
	margin-top: 10px;
}

ul.social-buttons{
	margin-bottom:0
}

ul.social-buttons li a{
	display:block;
	background-color:#727272;
	height:40px;
	width:40px;
	border-radius:100%;
	font-size:20px;
	line-height:40px;
	color:#fff;
	outline:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
	background-color:#222;
}